/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
  body{
    font-family: 'Work Sans', sans-serif;
    margin:0;
    width: 100%;
  }
  p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
  }
.header-container{
    background: rgba(255, 144, 14, 0.1);
    width:100%;
    padding :50px 230px;
    margin: 0;
  }
/* style of navigation bar */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-heading h3{
    font-weight: 700;
    font-size: 45px;
}
.nav-item{
    font-weight: 500;
    font-size: 18px;
}
.nav-item ul{
    list-style: none;
    
    display: flex;
    gap:30px;
    
}
.nav-item a{
    text-decoration: none;
}
/* banner style */
.banner-container{
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 529px;
    margin-right: 529px;
}
.banner-writing{
    text-align: center;
    border: 100px 529px 50px 529px;
    
}
.banner-writing h2{
    font-weight: 700;
    font-size: 64px;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 24px;
    background: #FF900E;
    border-radius: 8px;
    margin-bottom: 50px;
    border:none;
}
.banner-image img{
    width:100%;
    text-align: center;
    border-radius: 8px;
}
/* section-01 feature design */
.feature{
    display:grid;
    grid-template-columns: 50% 50%;
    column-gap: 73px;
    justify-content:center;
    align-items: center;
    padding:85px 300px;

}
.feature-image{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 24px;
    row-gap: 24px;
    /* margin-left: 300px; */
}
.feature-image img{
    width: 100%;
}
.feature-writing h4{
    font-weight: 500;
    font-size: 45px;
}
/* section 2 ---loved features design */
.loved-features{
    display:grid;
    grid-template-columns:50% 50%;
    padding: 130px 240px;
    column-gap: 54px;
    /* justify-content: center;
    align-items: center; */
}
.loved-features-heading{
    
}
.loved-feature{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    /* width: 586px;
    height: 171px; */
    padding: 30px;
    margin-bottom: 20px;
}
.loved-features-image img{
    width: 100%;
}
.loved-features-heading h4{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    padding-right: 146px;
}
.loved-feature h4{
    font-weight: 600;
    font-size: 20px;
}
.btn{
    float:left;
}
.btn-secondary{
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    margin: 45px;
    border:none;
    position: relative;
    bottom:10em;
    left:-10em;

}
.btn-secondary h5{
    font-weight: 700;
    font-size: 65px;
    margin: 0;
}
.btn-secondary p{
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    color: #727272;
}
/* section 3 facts design */
.fact-detail{
    margin-left: 240px;
}
.fact-detail h4{
    font-weight: 700;
    font-size: 45px;
}
.fact-icons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 124px;
    margin: 100px 290px;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    

}
.icon{
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.icon p{
    font-weight: 600;
    font-size: 20px;
}
.icon h5{
    font-weight: 600;
    font-size: 45px;
    margin:0px;
}
.icon:hover{
    border: 15px dashed blue;
}
/* section 4 sponsor design */
.sponsor-heading{
    text-align:left;
}
.sponsor-heading h4{
    font-weight: 700;
    font-size: 45px;
    padding-left: 690px;
    padding-right: 690px;

}
.sponsor-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 155px;
    margin: 50px 240px;
}
.sponsor-name img{
    filter: grayscale(100%);
    /* mix-blend-mode: luminosity; */
}
/* footer */
.footer{
    background: #FFF4E7;
    font-weight: 400;
    font-size: 20px;
    padding:30px 410px;
    margin: 130px 240px;
    text-align: center;
}
/* ***********************
      mobile responsive 
  ************************/
  @media screen and (max-width: 576px){
    .nav-item ul{
        display: grid;
        grid-template-columns: repeat(1, .5fr);
    }
    .feature{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* width: 100%; */

        /* justify-content:center;
        align-items: center;
        padding:85px 300px; */
    
    }
    .feature-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .loved-features{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        margin-top: 30px;
        /* padding: 130px 240px; */
        /* column-gap: 54px; */
        /* justify-content: center;
        align-items: center; */
    }
    /* .loved-feature{
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 586px;
        height: 171px;
        padding: 30px;
    } */
    /* .loved-features-image img{
        width: 100%;
    } */
  .fact-icons{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    /* column-gap: 124px;
    margin: 100px 290px; */
    /* align-items: center;
    text-align: center; */
    /* justify-content:space-around; */
  }
  /* .sponsor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  } */
  .sponsor-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}


}
